more_functions_nested_loops/main.c
more_functions_nested_loops/settings.json
more_functions_nested_loops/_putchar.c
more_functions_nested_loops/prog
pointers_arrays_strings/main.c
more_functions_nested_loops/.vscode/settings.json
pointers_arrays_strings/prog
pointers_arrays_strings/_putchar.c
